.banners-linea
{
    margin-bottom: 20px;
}

.programs-banner
{
    height: 300px;
    background-size: cover !important;
    margin-top: 0px;
    filter: grayscale(0%) brightness(65%);
    -webkit-filter: grayscale(0%) brightness(65%);
    -moz-filter: grayscale(0%) brightness(65%);
    -ms-filter: grayscale(0%) brightness(65%);
    -o-filter: grayscale(0%) brightness(65%);
    background-position:center !important;
    margin-bottom: 40px;
}

.box-programas
{
    width: 100%;
    height: 300px;
    object-fit: contain;
}

.texto-hu
{
    position: absolute;
    top: 130px;
    text-align: center;
    width: 100%;
    color: white;
    overflow: hidden;
    height: 160px;
    font-size: 25px;
}

@media (max-width: 991px)
{
    .box-programas
    {
        height: auto;
    }
}
